@import "@penpot/plugin-styles/styles.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  padding-top: 1rem;
}

p {
  margin: 0;
}

.flex{
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-wrap: wrap;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.gap-1{
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.body-050{
  font-size: 0.75rem;
  line-height: 1rem;
}

.title-050{
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
}
